<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8" />
        <title>newspaper</title>
    </head>

    <body>
This is the homepage of the newspaper
        {{{body}}}

    </body>
</html>
