<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8" />
        <title>Newspaper</title>
        <link rel="stylesheet" href="/style.css" />

    </head>
    <div id="front_nav"><ul>
        <a href="/"><li>Home</li></a>
        <a href="/category/1"><li>Business</li></a>
        <a href="/category/2"><li>Life</li></a>
        <a href="/category/3"><li>World</li></a>
        <a href="/category/4"><li>Tech</li></a>
    </ul></div>
    <body>
        <div style="padding: 20px; margin-top:25px;">
        {{{body}}}
    </div>
    </body>
</html>
