
<div class="">
    {{#articles}}
    <div>
        <a href="/article/{{id}}">
            <img src="{{image}}"/>
            <p>{{title}}</p>

        </a>
    </div>
    {{/articles}}

</div>
