

<div class="category">
    {{#articles}}
        <div class="categoryWrap">
        <a href="/article/{{id}}">
            <img class="categoryImg" src="{{image}}"/>
            <h1>{{title}}</h1>

        </a>
    </div>
    {{/articles}}

</div>
