

<div class="category">
    {{#articles}}
        <div class="categoryWrap">
        <a href="/article/{{id}}">
            <figure>
            <img class="categoryImg" src="{{image}}"/>
        </figure>
        <div class="media-body">
            <h1>{{title}}</h1>
        </div>
        </a>
    </div>
    {{/articles}}

</div>
