body {
    margin: 0;
}
audio,
canvas,
svg,
video {
    display: inline-block;
}
.search-icon-container > svg {
    left: 0;
}
.adminNav a {
    color: #eeeeee;
    text-decoration: none;
}
.adminNav a:hover {
    text-decoration: none;
    color: #0092ca;
}
.adminNav {
    background: #222831;
    padding: 10px;
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    height: 20px;
}
.adminNav span.logo {
    color: #0092ca;
    padding: 11px;
}
.navBox {
    display: inline-flex;
    height: 30px;
    position: fixed;
    opacity: 0.95;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px;
    justify-content: space-between;
}
.navBox .profileWrap {
    display: inherit;
}
.linkNav {
    padding-right: 20px;
}
/*search button*/
.logo-line .main-search {
    display: inline-block;
    width: 55%;
    text-align: right;
}
.form-one-line {
    display: flex;
}
search input {
    height: 2.8em;
    font-size: 16px;
    font-size: 1rem;
    padding: 0 15px;
    width: 200px;
}
.main-search button {
    border: 0;
    cursor: pointer;
    width: 90px;
    color: #fff;
    background: #0092ca;
    cursor: pointer;
}
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    margin: -1px;
}
.search-icon-container {
    display: block;
    padding-bottom: 100%;
    position: relative;
    height: 0;
    overflow: hidden;
}
/* admin login */
.adminBox {
    text-align: center;
}
.adminLogin {
    border: 1px solid #ccc;
}

/*admin users page*/
.usersettingBox {
    margin: 70px 1% 1% 1%;
    display: inline-flex;
    width: 98%;
}
.articleLists a,
.articleLists p {
    color: #222831;
}
.listwrap {
}
